// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";

// variables
$custom-primary-color : rgb(173, 173, 173);
$custom-secondary-color : #007bff;
$shadow : 5px 5px 5px rgba(0, 0, 0, 0.12);
$black : rgb(24, 23, 23);
$white :#f1efef;
$font-size-base:  1rem;
$font-size-sm: $font-size-base * .85;

//Global Rules
body{
    background-color: $white;
    font-family: Arial, sans-serif;
}
section{
    margin-top:3em;
    margin-bottom:3em;
}
.comp{
    background-color:#fff ;
}
.container-custom{
    display: flex;
    align-items: center;
    justify-content: center;
}
a.chat{
    padding : .25em 4em !important;
}
.logo{
    font-weight: 800;
    letter-spacing: 0.05em;
}
//Home page
.brands{
    display : flex;
    float: left;
    justify-content: center;
    align-items: center; 
    margin: .3em 3em;
}
.clientele, hr{
    margin-left: 4em;
    margin-top: .5em;
    margin-bottom: .5em;
    color: rgb(161, 161, 161);
    font-weight: 700;
}
.hero-1{
    border-radius: 50%;
    // max-width: 150px;


    border: 5px solid $custom-secondary-color;
    color: $custom-secondary-color;
    //overflow: hidden;
    margin: .5em;
    // height: 200px;
    
}

section.hero{
    margin-top: 2.5em;
}

.welcome-txt h1{
    font-size: 4rem;
    font-weight: 700;
}
.welcome-txt h4{
    font-size: 1rem;
}
.welcome-txt p{
    font-size: 1.2rem;
}
.welcome-txt h4 span.des{
    color: $custom-secondary-color;
    font-weight: 600;
    border: thin solid $custom-secondary-color;
    margin-right: .5em;
    padding: .3em;
    //box-shadow: $shadow;
}

aside.hero-1{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 8em;
    background-color: #007bff;
    overflow: hidden;
    height: auto;
    max-width: 20rem;
    object-fit: cover;
}
.hero-1 img{
   max-width: 100%;
   height: auto;
}




header{
    border-bottom: 20px solid #fff;
}
.navbar{
    border-bottom: 2px solid $custom-secondary-color;
}

.dropdown-menu{
    border: none;
 }


.des{
    color: $custom-secondary-color;
    font-weight: 600;
    padding: .3em;
    box-shadow: $shadow;
}
.des-1{
    font-size: 1.9rem;
    margin: .5em;
}

.exp{
    background-color: $white;
    margin-bottom: 0em;
    height: 10px;
}

.card{
   margin-bottom: 1.5em;
   overflow: hidden;
   border: none;
}

.card-big{
    margin: 1em;
    overflow: hidden;
    border: none;
    background-color: $white;
 }

.card a img {
    width: 100%;
}

.card-header{
    border: none;
 }
 .card-title{
    font-weight: 700;
    font-size: 1.6em;
 }
.recent{
    margin-top: 1em;
}

//footer styling
.by {
    color: $black;
    font-size: 0.8em;
}
.social img:hover{
    transition: transform .8s ease;
    transform: scale(1.05);
}
.social img{
    margin: 0 0.5em;
}
 footer{
    padding-top: 3em;
    padding-bottom: 2em;
    margin-bottom: 0em;
    color: black;
    background-color: darkgrey ;
 }
 .footer-link ul li{
    list-style: none;
 }
 .footer-link ul li a:hover{
    text-decoration: underline;
 }
 .footer-link ul li a:visited{
    color: $custom-secondary-color;
 }
 .footer-link ul li a{
    text-decoration: none;
    // color:$body-color;
    font-size: $font-size-base * .85;
 }
 .copyright{
    color:black;
    font-size: $font-size-base * .75;
 }
 .sm-show{
    display: none;
 }
.git, .linked{
    font-size: .85rem;
    text-decoration: none;
    color: black;
    font-weight: 600;
    margin: 0 .5em;
    padding: 0 .5em;
}
.drive{
    font-size: .85rem;
    text-decoration: none;
    color: black;
    font-weight: 600;
    padding: 0 .5em;
}
.git:hover, .linked:hover{
    color: #007bff;
}
.git:focus, .linked:focus{
    color: #007bff;
}

.lookup{
    font-size: .85em;
    font-weight: 500;
  
}

//media queries
@media screen and (max-width: 767px){
//    body{
//     max-width: 480px;
//     overflow: hidden;
//    }
header{
    padding: 0;
    margin: 0;
}
.chat-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sm-show{
    display: block;
}
.sm-hide{
    display: none;
}
    p{
        font-size: .85rem;
    }
    section.hero{
        margin: 1em 0;
        padding: 0;
    }
    div.hero{
        margin: 0;
        padding: 0;
        justify-content:flex-start;
    }
    
    aside.welcome-txt{
        max-width: 100%;
        // margin: .5em 1em;
        padding: .5m 1em;
        // border: 2px green solid;
        flex-direction: column-reverse !important;
    }

    .welcome-txt h1{
        font-size: 1.65rem;
        margin: .25em 0;
        text-align: center;
    }
    .welcome-txt p{
        font-size: .85rem;
        text-align: center;
        padding: .5em .5em
    }
    aside.hero-1{
        justify-content: center;
        align-items: center;
        display: flex;
        margin-left: 2em;
        background-color: #007bff;
        overflow: hidden;
        height: auto;
        max-width: 18rem;
        object-fit: cover;
    }
    .hero-1 img{
       max-width: 100%;
       height: auto;
    }
}
